<ion-content [fullscreen]="true" [scrollEvents]="true">
  <ion-list class="mt-14 mx-2 bg-transparent">
    <ion-item>
      <span>
        <ion-text>
          <ion-icon name="person-outline"></ion-icon>
          Name : {{userName}}
        </ion-text>
      </span>
    </ion-item>
    <ion-item>
      <span>
        <ion-text>
          <ion-icon name="mail-outline"></ion-icon>
          Email : {{userEmail}}
        </ion-text>
      </span>
    </ion-item>
    <ion-item>
      <ion-toggle>
        <ion-label>Dark Mode</ion-label>
        <ion-note color="medium">switch between Dark or Light Mode</ion-note>
      </ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list class="mt-2 mx-2 bg-transparent">
    <ion-button expand="full" size="normal" color="dark" (click)="logOut()">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Sign Out
    </ion-button>
  </ion-list>
</ion-content>